<p>task works!</p>

<div class="grid" *ngFor="let task of data">
  <card [task]="task"></card>
</div>

<!-- <div>
  <form action="">
    <label for="name">
      <input
        type="text"
        name="task"
        id="name"
        placeholder="Enter Name"
        required
      />
    </label>
    <br />
    <br />
    <label for="email">
      <input
        type="email"
        name="task"
        id="email"
        placeholder="Enter Email"
        required
      />
    </label>
    <br />
    <br />
    <button>Submitt</button>
  </form>
</div> -->
